.footer-container {
  width: 100%;
  max-width: 1200px;
  margin-top: clamp(120px, 16vw, 250px);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .footer-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: clamp(120px, 15.6vw, 316px);

    .desc-title {
      color: #ffffff;
      font-size: clamp(36px, 8vw, 90px);
      margin-bottom: clamp(40px, 9vw, 92px);
      line-height: clamp(44px, 130%, 130px);
    }

    .desc-option {
      color: #ffffff;
      font-size: clamp(16px, 3.1vw, 28px);
      line-height: clamp(24px, 3.1vw, 36px);
      margin-bottom: clamp(10px, 1.5vw, 16px);
    }

    .desc-text {
      color: #a1a1a1;
      font-size: clamp(14px, 2vw, 24px);
      line-height: 185%;
      word-break: keep-all;

      .desc-anchor {
        color: #a1a1a1;
        text-decoration: none;
      }
    }
  }

  .footer-info {
    width: 100%;
    align-self: flex-start;
    padding-bottom: min(5.86vw, 78px);

    .footer-logo {
      width: min(33%, 150px);
      aspect-ratio: 3/1;
      margin-bottom: clamp(12px, 1.56vw, 15px);
    }
  
    .footer-copyright{
      color: #a1a1a1;
      font-size: clamp(10px, 1.5vw, 12px);
      line-height: 150%;
    }
  }

}