.header-container {
  width: 100%;
  max-width: 1232px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  .header-deco {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -12.5%;
    background-position: left;
    background-size: cover;

    .symbol-img {
      width: min(20vw, 230px);
      position: absolute;
      top: 25%;
      left: 40%;
      border-radius: 50%;
      backdrop-filter: blur(4px);
    }
  }

  .header-desc {
    z-index: 2;
    margin-bottom: clamp(40px, 8vw, 80px);
    padding-left: 1rem;
    /// variable ///
    $title-font-size: clamp(70px, 11vw, 140px);
    $text-font-size: clamp(14px, 3vw, 30px);
    
    .header-title { 
      margin-bottom: clamp(16px, 4.5vw, 34px);
      font-size: $title-font-size;
      width: 72%;
      letter-spacing: calc($title-font-size * -0.05);
      word-break: break-all;
      line-height: calc($title-font-size + 4px);
    }

    .header-text {
      color: #1f1f1f;
      font-size: $text-font-size;
      width: 65%;
      line-height: clamp(27px, 160%, 50px);
    }
    
  }
  /// tablet size /// 
  // @media screen and (max-width: 1023px) {
  //   .header-deco {
  //     right: -10%;
  //   }
  // }
  
  /// mobile size ///
  @media screen and (max-width: 767px) {
    .header-deco {
      width: 90%;
      right: -10%;

      .symbol-img {
        width: max(120px, 25vw);
        top: 30%;
        left: 45%;
      }
    }   

    .header-desc > .header-title {
      width: max(205px, 40%);
    }
    
    .header-desc > .header-text {
      width: max(224px, 50%);
    }
  }
}