.member-card {
  $card-width: clamp(320px, 41.6vw, 378px);
  
  width: $card-width;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 clamp(16px, 3.25vw, 26px);
  padding: 0 clac($card-width / 10);
  box-sizing: border-box;

  .card-header {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .member-image {
      width: 100%;
      aspect-ratio: 1/1;
      margin-bottom: clamp(22px, 2.86vw, 24px);
      /// 흑백 필터 ///
      filter: grayscale(100%);
    }

    .member-role {
      color: #ffffff;
      font-size: clamp(12px, 1.56vw, 16px);
      margin-bottom: clamp(10px, 1.3vw, 16px);
    }
  }

  .member-name {
    color: #ffffff;
    font-size: clamp(16px, 2.08vw,  28px);
    line-height: 36px;
    margin-bottom: clamp(4px, 0.5vw, 6px);
  }

  .member-comment {
    width: 85%;
    line-height: 170%;
    color: #a1a1a1;
    font-size: clamp(12px, 1.56vw, 14px);
    margin-bottom: 8px;
    word-break: keep-all;
    text-align: center;
  }
}