.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  padding: clamp(16px, 2.34vw, 40px);
  position: relative;
  word-break: keep-all;
  box-sizing: border-box;
}