@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* global font-family*/
/* html * {
  font-family: 'Poppins' !important;
} */


